#redux-header {
    background: black;
    color: white;
}

.display_header h2 {
    color: #fff;
    padding: 1rem;
}

#redux-dialog-confirm,
#redux-dialog-message,
.display_header span,
.redux-group-menu,
.expand_options,
.redux-field-errors,
.redux-field-warnings {
    display: none;
}

div#\34 _section_group {
    display: none;
}

.redux-action_bar .button {
    margin-right: 1rem;
}