@media screen and (max-width: 550px) {
    .contact-info {
        position: absolute;
        margin-left: 0;
        left: 0;
        top: 0;
        z-index: 9;
    }

    .sidebar {
        display: none;
    }

    .info-btn {
        width: 100%;
        background: #000;
        padding: 1rem;
        text-align: right;
        transform: rotate(0deg);
        bottom: 1rem;
        right: 0;
    }
    
    .pan-element {
        margin-top: -700px;
        margin-left: -900px;
        transform: scale(0.7) !important;
    }
}