/*
    Theme Name: PanZoom
    Author: Sabbir Ahmed
    Description: Custom Theme From Scratch
	Version: 1.0.0
*/

* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    line-height: normal;
    font-family: "Univers LT Std";
}

.container {
    width: 95%;
    margin: 1.25rem auto;
}

/*PanZoom Area
------------------------------*/
._panzoom {
    display: flex;
}

.panzoom-wrapper {
    position: relative;
    flex: 1;
}

.pan-element {
    margin-top: -1100px;
    margin-left: -800px;
}

.panzoom {
    width: 100%;
    height: 93vh;
}

.zoom-element {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 500px);
}

.zoom-element .col-1,
.zoom-element .col-3,
.zoom-element .col-5{
    padding: 2.7rem;
}

.zoom-element .col-1 img:nth-child(odd) {
    margin-left: -2rem;
    margin-bottom: -1rem;
}

.zoom-element .col-2 img:nth-child(odd) {
    margin-top: -2rem;
    margin-left: -2.3rem;
}

.zoom-element .col-3 img:nth-child(even) {
    margin-bottom: -1rem;
    margin-left: -2rem;
}

.zoom-element .col-4 img:nth-child(odd),
.zoom-element .col-6 img:nth-child(odd) {
    margin-top: -1rem;
    position: relative;
    right: -1rem;
}

.zoom-element .col-5 img:nth-child(even) {
    margin-left: 2rem;
}

.attachment-post-thumbnail.size-post-thumbnail.wp-post-image,
.featured img {
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.featured {
    position: relative;
    right: -20px;
    min-height: 300px;
}

.featured h1.site-title {
    position: absolute;
    top: 50%;
    left: -90px;
}

.site-title a {
    font-family: "Adobe Caslon Pro";
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
}

.featured-title.ng-scope {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

/* PanZoom Sidebar
---------------------------------*/
.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 50px;
    background: #000;
}

.controller {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.panzoomwidget {
    width: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
  
.panzoomwidget .zoom-button {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
  
.panzoomwidget .zoom-button:hover {
    background-color: #ccc; 
}
  
.panzoomwidget .zoom-level {
    width: 100%;
    border-left: 2px solid #fff;
    margin-left: 10px; 
}
  
.panzoomwidget .zoom-slider {
    position: relative;
    cursor: hand; 
}
  
.panzoomwidget .zoom-slider-widget {
    position: absolute;
    width: 20px;
    background-color: white;
}

.info-btn {
    position: absolute;
    bottom: 50px;
    right: -20px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    border: none;
    background: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 9;
}

/* Contact Info
--------------------------------------*/
.contact-info {
    flex-basis: 300px;
    background: #fff;
    padding: 5rem 1.5rem 2rem 1.5rem;
    margin-left: 1rem;
    position: relative;
}

.contact-info h1 a {
    text-decoration: none;
    color: rgba(15, 20, 30, 0.9);
    line-height: normal;
    padding-bottom: 1rem;
    font-family: "Adobe Caslon Pro";
}

.contact .contact-text,
.contact p {
    color: rgba(15, 20, 30, 0.7);
    padding: 2rem 5rem 0 0;
    text-align: left;
    font-weight: bold;
}

.contact span {
    display: block;
    color: rgba(15, 20, 30, 0.9);
}

.contact-title {
    color: rgba(15, 20, 30, 0.9);
    font-weight: bold;
    padding: 2rem 0 1rem 0;
    font-size: 1.1rem;
    display: block;
}

span.close {
    float: right;
    font-size: 1.7rem;
    cursor: pointer;
    color: rgb(15, 20, 30);
    position: absolute;
    top: 20px;
    right: 20px;
}

.social {
    padding: 2rem 0;
}

.social a {
    color: #000;
    margin-right: 0.5rem;
    opacity: 0.7;
}

